<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <meta
      name="description"
      content="Dag's Mind Cabin - Where I collect my thoughts"
    />

 
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link href="https://unpkg.com/css.gg/icons/icons.css" rel="stylesheet" />
  </head>

  <body>
<header>
  <a href="/"><i class="gg-home"></i>Home</a>
  <a href="/now"><i class="gg-calendar-today"></i>Now</a>
  <a href="/about"><i class="gg-info"></i>About</a>
  <a href="/work/manual"><i class="gg-readme"></i>Manual</a>
  <a href="/portfolio"><i class="gg-image"></i>Portfolio</a>
  <a href="/hire"><i class="gg-profile"></i>Hire</a>
  
  
</header>
  <main>
    {{ content }}
  </main>
  <footer></footer>
  </body>
</html>
