<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <meta
      name="description"
      content="Dag's Mind Cabin - Where I collect my thoughts"
    />

 
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>

  <body>

    <div id="main_content_wrap">

        {{ content }}
    
    </div>


 
  </body>
</html>
